[Unit]
Description=Timer to start the backup service which gets the back up every Saturday at 1 am

[Timer]
OnCalendar=Sat *-*-* 01:00:00
Persistent=true
Unit=backup.service

[Install]
WantedBy=timers.target
